#logo {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 360px;
  text-align: center;
}

.navbar {
  width: 90%;
  max-width: 1500px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0074d9;
}

.nav-link {
  color: white;
}

.navbar-toggler {
  border-radius: 10px;
  margin: 7px;
}

.dropdown-menu {
  background-color: #0074d9;
  border-radius: 10px;
}

.dropdown-item {
  color: white;
  border-radius: 10px;
}

.dropdown-item:hover {

  background-color: #0267c0;
  color: white;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

td {
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

li {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}


.pagecontent {
  width: 90%;
  max-width: 1500px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.buttonGroup {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-warning {
  background-color: #ff851b;
  color: white;
}

.btn-warning:hover {
  background-color: #da7721;
  color: white;
}

/* Team.html CSS */

#team-title {
  background-color: #0074d9;
  color: white;
  font-size: 2.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member {
  background-color: #0074d9;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  width: 290px;
}

.team-member-link {
    color: white;
}